In [37]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('./input.tsv', sep="\t").fillna(pd.NA)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1409 entries, 0 to 1408
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1409 non-null   object
 1   description  1409 non-null   object
 2   type         1409 non-null   object
 3   amount       1409 non-null   float64
 4   tags/0       1397 non-null   object
 5   tags/1       1346 non-null   object
 6   tags/2       42 non-null     object
dtypes: float64(1), object(6)
memory usage: 77.2+ KB

In [40]:
sources = [
  'CONTA CORRENTE',
  'PAI',
  'CAJU',
  'CARTÃO DE CRÉDITO',
  'CARAN',
  'NUINVEST',
  'TRABALHO',
  'MÃE',
  'PAYPAL',
  'DINHEIRO',
  'DÉBORA',
  'FERNANDO',
  'GABY',
  'GORDO',
  'AARÃO',
  'FLASH',
  'PREVIDÊNCIA',
  'RAQUEL',
  'DIEGO',
  'ALELO',
  'APÊ',
  'CASHBACK',
  'IRDILEI',
  'CLEAR'
]

In [41]:
categories = [
  'SAÚDE',
  'ASSINATURAS',
  'DESPESAS FIXAS',
  'OUTROS',
  'LAZER',
  'ESTORNOS',
  'INVESTIMENTOS',
  'GABY',
  'ESTUDOS',
  'COMPENSAÇÃO',
  'ENTRADAS FIXAS',
  'ALIMENTAÇÃO'
]

In [42]:
tagCols = [f"tags/{i}" for i in range(df.filter(like="tags/").shape[1])]
tagCols

['tags/0', 'tags/1', 'tags/2']

In [43]:
def extract_source(row):
    for col in tagCols:
        if pd.notna(row[col]) and row[col] in sources:
            return row[col]
    return pd.NA

df['source'] = df.apply(extract_source, axis=1)

In [44]:
def extract_categories(row):
  catgs = [row[col] for col in tagCols if pd.notna(row[col]) and row[col] in categories]
  catgs.sort()
  return ", ".join(catgs)

df['categories'] = df.apply(extract_categories, axis=1)

In [45]:
df.drop(columns=tagCols, inplace=True)

In [46]:
df.tail()

,date,description,type,amount,source,categories
1404,2023-10-30,Compensação spotify + netflix,INCOME,35.95,DÉBORA,COMPENSAÇÃO
1405,2023-10-30,Aluguel,OUTCOME,-1271.15,CONTA CORRENTE,DESPESAS FIXAS
1406,2023-10-30,Anticoncepcional,OUTCOME,71.53,DINHEIRO,"GABY, SAÚDE"
1407,2023-10-31,Conta de água,OUTCOME,-72.65,CONTA CORRENTE,DESPESAS FIXAS
1408,2023-10-31,Psicologa,OUTCOME,-130.00,CONTA CORRENTE,SAÚDE

In [47]:
df.to_csv("./output.tsv", sep="\t", index=False, na_rep="")

In [48]:
# df['source'] = np.where(
#   df['tags/0'].isin(sources), # if
#   df['tags/0'], # true
#   np.where( # false
#     df['tags/1'].isin(sources), # if
#     df['tags/1'], # true
#     np.where( # false
#       df['tags/2'].isin(sources), # if
#       df['tags/2'], # true
#       pd.NA # else
#     ) 
#   )
# )

In [49]:
# tagsLen = len(df)

# catgList = []
# for i in range(tagsLen):
#   catgs = []
  
#   if (pd.notna(df["tags/0"][i]) and df["tags/0"][i] in categories):
#     catgs.append(df["tags/0"][i])

#   if (pd.notna(df["tags/1"][i]) and df["tags/1"][i] in categories):
#     catgs.append(df["tags/1"][i])

#   if (pd.notna(df["tags/2"][i]) and df["tags/2"][i] in categories):
#     catgs.append(df["tags/2"][i])
  
#   catgs.sort()
#   catgList.append(", ".join(catgs))
  
# df["categories"] = pd.Series(catgList)